// Fonts
// --
//

@font-face {
    font-family: 'OpenSans';
    src: url('/assets/fonts/OpenSans-Regular-webfont.woff'),
    url('/assets/fonts/OpenSans-Regular-webfont.woff') format('woff');
}

@font-face {
    font-family: 'icon-font';
    src: url('/assets/fonts/bestbuy-fonts.woff'),
    url('/assets/fonts/bestbuy-fonts.woff') format('woff');
}
