// Media Thumbnails
// ---
//
// 1. Overlay for thumbnail
// 2. Play icon positioning/sizing

.c-media {
    position: relative; // 1.

    &::after {
        display: block;
        content: ' ';

        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        opacity: $overlay-opacity;
        background-color: black;
    }

    .c-icon::before {
        position: absolute; // 2.
        top: 50%; // 2.
        left: 50%; // 2.
        transform: translate(-50%, -50%); // 2.

        font-size: 40px; // 2.

        color: white;

        z-index: $stage-layer;
    }
}
